.clients-lint {
  width: 170px;
  height: 92px;
  // .clients-lint__link

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border var(--duration) var(--cubic-bezier);

    &:hover,
    &:focus {
      border: 1px solid #2196f3;
    }
  }

  // .clients-lint__icon

  &__icon {
    fill: #afb1b8;
    transition: fill var(--duration) var(--cubic-bezier);

    .clients-lint:hover &,
    .clients-lint:focus & {
      fill: #2196f3;
    }
  }
}
